[package]

name = "timely"
version = "0.0.14"
authors = ["Frank McSherry <fmcsherry@me.com>"]

description = "A low-latency data-parallel dataflow system in Rust"

# These URLs point to more information about the repository
documentation = "https://frankmcsherry.github.com/timely-dataflow"
homepage = "https://github.com/frankmcsherry/timely-dataflow"
repository = "https://github.com/frankmcsherry/timely-dataflow.git"
keywords = ["timely", "dataflow"]
license = "MIT"

[dependencies.timely_communication]
path="./communication"

[features]
default=[]
logging=[]

[dependencies]
abomonation="^0.4.2"
timely_sort="0.1.3"
#timely_communication="^0.1.4"
byteorder="0.4.2"
time="0.1.34"

[dev-dependencies]
getopts="0.2.14"
rand="0.3.13"
