name: "Test Suite"
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu
          - macos
          - windows
        toolchain:
          - stable
          - 1.86
    name: cargo test on ${{ matrix.os }}, rust ${{ matrix.toolchain }}
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Cargo test
        run: cargo test --workspace --all-targets
      - name: Cargo doc test
        run: cargo test --doc

  # Check for clippy warnings
  clippy:
    name: Cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - name: Cargo clippy
        run: cargo clippy --workspace --all-targets
        env:
          RUSTFLAGS: "" # Don't make test fail on clippy
