name: "Test Suite"
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  msrv:
    name: Determine MSRV
    runs-on: ubuntu-latest
    outputs:
      msrv: ${{ steps.msrv.outputs.msrv }}
    steps:
      - uses: actions/checkout@v6
      - id: msrv
        run: echo "msrv=$(grep '^rust-version' Cargo.toml | sed 's/.*"\(.*\)"/\1/')" >> "$GITHUB_OUTPUT"

  test:
    needs: msrv
    strategy:
      matrix:
        os:
          - ubuntu
          - macos
          - windows
        toolchain:
          - stable
          - ${{ needs.msrv.outputs.msrv }}
    name: cargo test on ${{ matrix.os }}, rust ${{ matrix.toolchain }}
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          components: clippy
      - name: Cargo test
        run: cargo test --workspace --all-targets
      - name: Cargo doc test
        run: cargo test --doc

  # Check for clippy warnings
  clippy:
    name: Cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - name: Cargo clippy
        run: cargo clippy --workspace --all-targets
        env:
          RUSTFLAGS: "" # Don't make test fail on clippy
